CONFIG_64BIT=n
CONFIG_EXPERT=y
CONFIG_EMBEDDED=y
CONFIG_M686=y
CONFIG_SMP=n
CONFIG_HIGHMEM4G=n
CONFIG_HIGHMEM64G=n
CONFIG_NOHIGHMEM=y
CONFIG_X86_PAE=n
CONFIG_X86_TSC=y
CONFIG_LOCALVERSION="-nupp"
CONFIG_LOCALVERSION_AUTO=n
CONFIG_KERNEL_GZIP=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_RD_GZIP=y
CONFIG_INITRAMFS_SOURCE=""
CONFIG_BINFMT_ELF=y
CONFIG_MULTIUSER=y
CONFIG_FUTEX=y
CONFIG_POSIX_TIMERS=y
CONFIG_EPOLL=y
CONFIG_EVENTFD=y
CONFIG_SIGNALFD=y
CONFIG_TIMERFD=y
CONFIG_UNIX=y
CONFIG_NET=y
CONFIG_PROC_FS=y
CONFIG_SYSFS=y
CONFIG_TMPFS=y
CONFIG_DEVTMPFS=y
CONFIG_DEVMEM=y
CONFIG_STRICT_DEVMEM=n
CONFIG_TTY=y
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SERIAL_8250_NR_UARTS=1
CONFIG_SERIAL_8250_RUNTIME_UARTS=1
CONFIG_UNIX98_PTYS=y
CONFIG_PRINTK=y
CONFIG_PRINTK_TIME=n
CONFIG_HZ_100=y
CONFIG_PREEMPT_NONE=y
CONFIG_PCI=y
CONFIG_ACPI=n
CONFIG_MODULES=n
CONFIG_DEBUG_KERNEL=n
CONFIG_DEBUG_INFO_NONE=y
CONFIG_RANDOMIZE_BASE=n
CONFIG_RELOCATABLE=y
